/*
 * Based on Plugin: Syntax Highlighter CB
 * Plugin URI: http://wp.tutsplus.com/tutorials/plugins/adding-a-syntax-highlighter-shortcode-using-prism-js
 * Description: Highlight your code snippets with an easy to use shortcode based on Lea Verou's Prism.js.
 * Version: 1.0.0
 * Author: c.bavota
 * Author URI: http://bavotasan.comhttp://wp.tutsplus.com/tutorials/plugins/adding-a-syntax-highlighter-shortcode-using-prism-js/ */
/* http://cbavota.bitbucket.org/syntax-highlighter/  */

/* =====   ===== */
code[class*="language-"],
.code-block {
	color: #fff;
	text-shadow: 0 1px 1px #000;
	font-family: Menlo, Monaco, "Courier New", monospace;
	direction: ltr;
	text-align: left;
	word-spacing: normal;
	white-space: pre;
	word-wrap: normal;
	line-height: 1.4;
	background: none;
	border: 0;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.code-block code {
	float: left;
	padding: 0 15px 0 0;
}

.code-block,
:not(pre) > code[class*="language-"] {
	background: #222;
}

/* Code blocks */
.code-block {
	padding: 15px;
	margin: 1em 0;
	overflow: auto;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 5px 10px;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-doctype,
.style-token.style-cdata {
	color: #797979;
}

.style-token.style-selector,
.style-token.style-operator,
.style-token.style-punctuation {
	color: #fff;
}

.style-token.style-namespace {
	opacity: .7;
}

.style-token.style-tag,
.style-token.style-boolean {
	color: #ffd893;
}

.style-token.style-atrule,
.style-token.style-attr-value,
.style-token.hex,
.style-token.style-string {
	color: #B0C975;
}

.style-token.style-property,
.style-token.style-entity,
.style-token.style-url,
.style-token.style-attr-name,
.style-token.style-keyword {
	color: #c27628;
}

.style-token.style-regex {
	color: #9B71C6;
}

.style-token.style-entity {
	cursor: help;
}

.style-token.style-function,
.style-token.style-constant {
	color: #e5a638;
}

.style-token.style-variable {
	color: #fdfba8;
}

.style-token.style-number {
	color: #8799B0;
}

.style-token.style-important,
.style-token.deliminator {
	color: #E45734;
}

/* Line highlight plugin */
.line-highlight.line-highlight {
	background: rgba(255, 255, 255, .2);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	top: .3em;
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* for line style-numbers */
/* span instead of span:before for a two-toned border */
.line-style-numbers .line-style-numbers-rows > span {
	border-right: 3px #d9d336 solid;
}
