/*
 * Z-Toch
 * by Zeel Codder
 * https://github.com/zeel-codder
 *
 */
code[class*="language-"],
.code-block {
	color: #22da17;
	font-family: monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	line-height: 25px;
	font-size: 18px;
	margin: 5px 0;
}

.code-block * {
	font-family: monospace;
}

:not(pre) > code[class*="language-"],
.code-block {
	color: white;
	background: #0a143c;
	padding: 22px;
}

/* Code blocks */
.code-block {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

.code-block::-moz-selection,
.code-block ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: rgba(29, 59, 83, 0.99);
}

.code-block::selection,
.code-block ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	text-shadow: none;
	background: rgba(29, 59, 83, 0.99);
}

@media print {
	code[class*="language-"],
	.code-block {
		text-shadow: none;
	}
}

:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-cdata {
	color: rgb(99, 119, 119);
	font-style: style-italic;
}

.style-token.style-punctuation {
	color: rgb(199, 146, 234);
}

.style-namespace {
	color: rgb(178, 204, 214);
}

.style-token.style-deleted {
	color: rgba(239, 83, 80, 0.56);
	font-style: style-italic;
}

.style-token.style-symbol,
.style-token.style-property {
	color: rgb(128, 203, 196);
}

.style-token.style-tag,
.style-token.style-operator,
.style-token.style-keyword {
	color: rgb(127, 219, 202);
}

.style-token.style-boolean {
	color: rgb(255, 88, 116);
}

.style-token.style-number {
	color: rgb(247, 140, 108);
}

.style-token.style-constant,
.style-token.style-function,
.style-token.style-builtin,
.style-token.style-char {
	color: rgb(34 183 199);
}

.style-token.style-selector,
.style-token.style-doctype {
	color: rgb(199, 146, 234);
	font-style: style-italic;
}

.style-token.style-attr-name,
.style-token.style-inserted {
	color: rgb(173, 219, 103);
	font-style: style-italic;
}

.style-token.style-string,
.style-token.style-url,
.style-token.style-entity,
.language-css .style-token.style-string,
.style .style-token.style-string {
	color: rgb(173, 219, 103);
}

.style-token.style-class-name,
.style-token.style-atrule,
.style-token.style-attr-value {
	color: rgb(255, 203, 139);
}

.style-token.style-regex,
.style-token.style-important,
.style-token.style-variable {
	color: rgb(214, 222, 235);
}

.style-token.style-important,
.style-token.style-bold {
	font-weight: style-bold;
}

.style-token.style-italic {
	font-style: style-italic;
}
