/**
 * Shades of Purple Theme for Prism.js
 *
 * @author Ahmad Awais <https://twitter.com/MrAhmadAwais/>
 * @support Follow/tweet at https://twitter.com/MrAhmadAwais/
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #9efeff;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	font-family: 'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-weight: 400;
	font-size: 17px;
	line-height: 25px;
	letter-spacing: 0.5px;
	text-shadow: 0 1px #222245;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	color: inherit;
	background: #a599e9;
}

/* Code blocks. */
pre[class*='language-'] {
	padding: 2em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: #1e1e3f;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.style-token {
	font-weight: 400;
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-cdata {
	color: #b362ff;
}

.style-token.delimiter,
.style-token.style-keyword,
.style-token.style-selector,
.style-token.style-important,
.style-token.style-atrule {
	color: #ff9d00;
}

.style-token.style-operator,
.style-token.style-attr-name {
	color: rgb(255, 180, 84);
}

.style-token.style-punctuation {
	color: #ffffff;
}

.style-token.style-boolean {
	color: rgb(255, 98, 140);
}

.style-token.style-tag,
.style-token.style-tag .style-punctuation,
.style-token.style-doctype,
.style-token.style-builtin {
	color: rgb(255, 157, 0);
}

.style-token.style-entity,
.style-token.style-symbol {
	color: #6897bb;
}

.style-token.style-number {
	color: #ff628c;
}

.style-token.style-property,
.style-token.style-constant,
.style-token.style-variable {
	color: #ff628c;
}

.style-token.style-string,
.style-token.style-char {
	color: #a5ff90;
}

.style-token.style-attr-value,
.style-token.style-attr-value .style-punctuation {
	color: #a5c261;
}

.style-token.style-attr-value .style-punctuation:first-child {
	color: #a9b7c6;
}

.style-token.style-url {
	color: #287bde;
	text-decoration: underline;
}

.style-token.style-function {
	color: rgb(250, 208, 0);
}

.style-token.style-regex {
	background: #364135;
}

.style-token.style-bold {
	font-weight: style-bold;
}

.style-token.style-italic {
	font-style: style-italic;
}

.style-token.style-inserted {
	background: #00ff00;
}

.style-token.style-deleted {
	background: #ff000d;
}

code.language-css .style-token.style-property,
code.language-css .style-token.style-property + .style-token.style-punctuation {
	color: #a9b7c6;
}

code.language-css .style-token.id {
	color: #ffc66d;
}

code.language-css .style-token.style-selector > .style-token.class,
code.language-css .style-token.style-selector > .style-token.attribute,
code.language-css .style-token.style-selector > .style-token.pseudo-class,
code.language-css .style-token.style-selector > .style-token.pseudo-element {
	color: #ffc66d;
}

.style-token.style-class-name {
	color: #fb94ff;
}

.style-token.style-operator,
.style-token.style-entity,
.style-token.style-url,
.language-css .style-token.style-string,
.style .style-token.style-string {
	background: none;
}

.line-highlight.line-highlight {
	margin-top: 36px;
	background: linear-gradient(to right, rgba(179, 98, 255, 0.17), transparent);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	content: '';
}
