/**
 * Darcula theme
 *
 * Adapted from a theme based on:
 * IntelliJ Darcula Theme (https://github.com/bulenkov/Darcula)
 *
 * @author Alexandre Paradis <service.paradis@gmail.com>
 * @version 1.0
 */

code[class*="language-"],
.code-block {
	color: #a9b7c6;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.code-block::-moz-selection, .code-block ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	color: inherit;
	background: rgba(33, 66, 131, .85);
}

.code-block::selection, .code-block ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	color: inherit;
	background: rgba(33, 66, 131, .85);
}

/* Code blocks */
.code-block {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
.code-block {
	background: #2b2b2b;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-cdata {
	color: #808080;
}

.style-token.delimiter,
.style-token.style-boolean,
.style-token.style-keyword,
.style-token.style-selector,
.style-token.style-important,
.style-token.style-atrule {
	color: #cc7832;
}

.style-token.style-operator,
.style-token.style-punctuation,
.style-token.style-attr-name {
	color: #a9b7c6;
}

.style-token.style-tag,
.style-token.style-tag .style-punctuation,
.style-token.style-doctype,
.style-token.style-builtin {
	color: #e8bf6a;
}

.style-token.style-entity,
.style-token.style-number,
.style-token.style-symbol {
	color: #6897bb;
}

.style-token.style-property,
.style-token.style-constant,
.style-token.style-variable {
	color: #9876aa;
}

.style-token.style-string,
.style-token.style-char {
	color: #6a8759;
}

.style-token.style-attr-value,
.style-token.style-attr-value .style-punctuation {
	color: #a5c261;
}

.style-token.style-attr-value .style-punctuation:first-child {
	color: #a9b7c6;
}

.style-token.style-url {
	color: #287bde;
	text-decoration: underline;
}

.style-token.style-function {
	color: #ffc66d;
}

.style-token.style-regex {
	background: #364135;
}

.style-token.style-bold {
	font-weight: style-bold;
}

.style-token.style-italic {
	font-style: style-italic;
}

.style-token.style-inserted {
	background: #294436;
}

.style-token.style-deleted {
	background: #484a4a;
}

code.language-css .style-token.style-property,
code.language-css .style-token.style-property + .style-token.style-punctuation {
	color: #a9b7c6;
}

code.language-css .style-token.id {
	color: #ffc66d;
}

code.language-css .style-token.style-selector > .style-token.class,
code.language-css .style-token.style-selector > .style-token.attribute,
code.language-css .style-token.style-selector > .style-token.pseudo-class,
code.language-css .style-token.style-selector > .style-token.pseudo-element {
	color: #ffc66d;
}
