/**
 * Gruvbox light theme
 *
 * Based on Gruvbox: https://github.com/morhetz/gruvbox
 * Adapted from PrismJS gruvbox-dark theme: https://github.com/schnerring/prism-themes/blob/master/themes/prism-gruvbox-dark.css
 *
 * @author Michael Schnerring (https://schnerring.net)
 * @version 1.0
 */

code[class*="language-"],
.code-block {
	color: #3c3836; /* fg1 / fg */
	font-family: Consolas, Monaco, "Andale Mono", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.code-block::-moz-selection,
.code-block ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	color: #282828; /* fg0 */
	background: #a89984; /* bg4 */
}

.code-block::selection,
.code-block ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	color: #282828; /* fg0 */
	background: #a89984; /* bg4 */
}

/* Code blocks */
.code-block {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
.code-block {
	background: #f9f5d7; /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-cdata {
	color: #7c6f64; /* fg4 / gray1 */
}

.style-token.delimiter,
.style-token.style-boolean,
.style-token.style-keyword,
.style-token.style-selector,
.style-token.style-important,
.style-token.style-atrule {
	color: #9d0006; /* red2 */
}

.style-token.style-operator,
.style-token.style-punctuation,
.style-token.style-attr-name {
	color: #7c6f64; /* fg4 / gray1 */
}

.style-token.style-tag,
.style-token.style-tag .style-punctuation,
.style-token.style-doctype,
.style-token.style-builtin {
	color: #b57614; /* yellow2 */
}

.style-token.style-entity,
.style-token.style-number,
.style-token.style-symbol {
	color: #8f3f71; /* purple2 */
}

.style-token.style-property,
.style-token.style-constant,
.style-token.style-variable {
	color: #9d0006; /* red2 */
}

.style-token.style-string,
.style-token.style-char {
	color: #797403; /* green2 */
}

.style-token.style-attr-value,
.style-token.style-attr-value .style-punctuation {
	color: #7c6f64; /* fg4 / gray1 */
}

.style-token.style-url {
	color: #797403; /* green2 */
	text-decoration: underline;
}

.style-token.style-function {
	color: #b57614; /* yellow2 */
}

.style-token.style-regex {
	background: #797403; /* green2 */
}

.style-token.style-bold {
	font-weight: style-bold;
}

.style-token.style-italic {
	font-style: style-italic;
}

.style-token.style-inserted {
	background: #7c6f64; /* fg4 / gray1 */
}

.style-token.style-deleted {
	background: #9d0006; /* red2 */
}
