code[class*="language-"],
.code-block {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: #c3cee3;
	background: #263238;
	font-family: Roboto Mono, monospace;
	font-size: 1em;
	line-height: 1.5em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code[class*="language-"]::-moz-selection,
.code-block::-moz-selection,
code[class*="language-"] ::-moz-selection,
.code-block ::-moz-selection {
	background: #363636;
}

code[class*="language-"]::selection,
.code-block::selection,
code[class*="language-"] ::selection,
.code-block ::selection {
	background: #363636;
}

:not(pre) > code[class*="language-"] {
	white-space: normal;
	border-radius: 0.2em;
	padding: 0.1em;
}

.code-block {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: #fd9170;
}

[class*="language-"] .style-namespace {
	opacity: 0.7;
}

.style-token.style-atrule {
	color: #c792ea;
}

.style-token.style-attr-name {
	color: #ffcb6b;
}

.style-token.style-attr-value {
	color: #c3e88d;
}

.style-token.attribute {
	color: #c3e88d;
}

.style-token.style-boolean {
	color: #c792ea;
}

.style-token.style-builtin {
	color: #ffcb6b;
}

.style-token.style-cdata {
	color: #80cbc4;
}

.style-token.style-char {
	color: #80cbc4;
}

.style-token.class {
	color: #ffcb6b;
}

.style-token.style-class-name {
	color: #f2ff00;
}

.style-token.color {
	color: #f2ff00;
}

.style-token.style-comment {
	color: #546e7a;
}

.style-token.style-constant {
	color: #c792ea;
}

.style-token.style-deleted {
	color: #f07178;
}

.style-token.style-doctype {
	color: #546e7a;
}

.style-token.style-entity {
	color: #f07178;
}

.style-token.style-function {
	color: #c792ea;
}

.style-token.hexcode {
	color: #f2ff00;
}

.style-token.id {
	color: #c792ea;
	font-weight: style-bold;
}

.style-token.style-important {
	color: #c792ea;
	font-weight: style-bold;
}

.style-token.style-inserted {
	color: #80cbc4;
}

.style-token.style-keyword {
	color: #c792ea;
	font-style: style-italic;
}

.style-token.style-number {
	color: #fd9170;
}

.style-token.style-operator {
	color: #89ddff;
}

.style-token.style-prolog {
	color: #546e7a;
}

.style-token.style-property {
	color: #80cbc4;
}

.style-token.pseudo-class {
	color: #c3e88d;
}

.style-token.pseudo-element {
	color: #c3e88d;
}

.style-token.style-punctuation {
	color: #89ddff;
}

.style-token.style-regex {
	color: #f2ff00;
}

.style-token.style-selector {
	color: #f07178;
}

.style-token.style-string {
	color: #c3e88d;
}

.style-token.style-symbol {
	color: #c792ea;
}

.style-token.style-tag {
	color: #f07178;
}

.style-token.unit {
	color: #f07178;
}

.style-token.style-url {
	color: #fd9170;
}

.style-token.style-variable {
	color: #f07178;
}
