/*
 * Laserwave Theme originally by Jared Jones for Visual Studio Code
 * https://github.com/Jaredk3nt/laserwave
 *
 * Ported for PrismJS by Simon Jespersen [https://github.com/simjes]
 */

code[class*="language-"],
.code-block {
	background: #27212e;
	color: #ffffff;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; /* this is the default */
	/* The following properties are standard, please leave them as they are */
	font-size: 1em;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	/* The following properties are also standard */
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
.code-block::-moz-selection,
.code-block ::-moz-selection {
	background: #eb64b927;
	color: inherit;
}

code[class*="language-"]::selection,
code[class*="language-"] ::selection,
.code-block::selection,
.code-block ::selection {
	background: #eb64b927;
	color: inherit;
}

/* Properties specific to code blocks */
.code-block {
	padding: 1em; /* this is standard */
	margin: 0.5em 0; /* this is the default */
	overflow: auto; /* this is standard */
	border-radius: 0.5em;
}

/* Properties specific to inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.2em 0.3em;
	border-radius: 0.5rem;
	white-space: normal; /* this is standard */
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-cdata {
	color: #91889b;
}

.style-token.style-punctuation {
	color: #7b6995;
}

.style-token.style-builtin,
.style-token.style-constant,
.style-token.style-boolean {
	color: #ffe261;
}

.style-token.style-number {
	color: #b381c5;
}

.style-token.style-important,
.style-token.style-atrule,
.style-token.style-property,
.style-token.style-keyword {
	color: #40b4c4;
}

.style-token.style-doctype,
.style-token.style-operator,
.style-token.style-inserted,
.style-token.style-tag,
.style-token.style-class-name,
.style-token.style-symbol {
	color: #74dfc4;
}

.style-token.style-attr-name,
.style-token.style-function,
.style-token.style-deleted,
.style-token.style-selector {
	color: #eb64b9;
}

.style-token.style-attr-value,
.style-token.style-regex,
.style-token.style-char,
.style-token.style-string {
	color: #b4dce7;
}

.style-token.style-entity,
.style-token.style-url,
.style-token.style-variable {
	color: #ffffff;
}

/* The following rules are pretty similar across themes, but feel free to adjust them */
.style-token.style-bold {
	font-weight: style-bold;
}

.style-token.style-italic {
	font-style: style-italic;
}

.style-token.style-entity {
	cursor: help;
}

.style-token.style-namespace {
	opacity: 0.7;
}
