/**
 * VS theme by Andrew Lock (https://andrewlock.net)
 * Inspired by Visual Studio syntax coloring
 */

code[class*="language-"],
.code-block {
	color: #393A34;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	font-size: .9em;
	line-height: 1.2em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

.code-block::-moz-selection, .code-block ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	background: #C1DEF1;
}

.code-block::selection, .code-block ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	background: #C1DEF1;
}

/* Code blocks */
.code-block {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border: 1px solid #dddddd;
	background-color: white;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .2em;
	padding-top: 1px;
	padding-bottom: 1px;
	background: #f8f8f8;
	border: 1px solid #dddddd;
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-doctype,
.style-token.style-cdata {
	color: #008000;
	font-style: style-italic;
}

.style-token.style-namespace {
	opacity: .7;
}

.style-token.style-string {
	color: #A31515;
}

.style-token.style-punctuation,
.style-token.style-operator {
	color: #393A34; /* no highlight */
}

.style-token.style-url,
.style-token.style-symbol,
.style-token.style-number,
.style-token.style-boolean,
.style-token.style-variable,
.style-token.style-constant,
.style-token.style-inserted {
	color: #36acaa;
}

.style-token.style-atrule,
.style-token.style-keyword,
.style-token.style-attr-value,
.language-autohotkey .style-token.style-selector,
.language-json .style-token.style-boolean,
.language-json .style-token.style-number,
code[class*="language-css"] {
	color: #0000ff;
}

.style-token.style-function {
	color: #393A34;
}

.style-token.style-deleted,
.language-autohotkey .style-token.style-tag {
	color: #9a050f;
}

.style-token.style-selector,
.language-autohotkey .style-token.style-keyword {
	color: #00009f;
}

.style-token.style-important {
	color: #e90;
}

.style-token.style-important,
.style-token.style-bold {
	font-weight: style-bold;
}

.style-token.style-italic {
	font-style: style-italic;
}

.style-token.style-class-name,
.language-json .style-token.style-property {
	color: #2B91AF;
}

.style-token.style-tag,
.style-token.style-selector {
	color: #800000;
}

.style-token.style-attr-name,
.style-token.style-property,
.style-token.style-regex,
.style-token.style-entity {
	color: #ff0000;
}

.style-token.directive.style-tag .style-tag {
	background: #ffff00;
	color: #393A34;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-style-numbers/
 */
.line-style-numbers.line-style-numbers .line-style-numbers-rows {
	border-right-color: #a5a5a5;
}

.line-style-numbers .line-style-numbers-rows > span:before {
	color: #2B91AF;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
	background: rgba(193, 222, 241, 0.2);
	background: -webkit-linear-gradient(left, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
	background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
}
