/**
* xonokai theme for JavaScript, CSS and HTML
* based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
* license: MIT; http://moox.mit-license.org/
*/
code[class*="language-"],
.code-block {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 14px;
	color: #76d9e6;
	text-shadow: none;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

.code-block,
:not(pre) > code[class*="language-"] {
	background: #2a2a2a;
}

.code-block {
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #e1e1e8;
	overflow: auto;
	position: relative;
}

.code-block code {
	white-space: pre;
	display: block;
}

:not(pre) > code[class*="language-"] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: .3em;
	border: 0.13em solid #7a6652;
	box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.style-token.style-namespace {
	opacity: .7;
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-doctype,
.style-token.style-cdata {
	color: #6f705e;
}

.style-token.style-operator,
.style-token.style-boolean,
.style-token.style-number {
	color: #a77afe;
}

.style-token.style-attr-name,
.style-token.style-string {
	color: #e6d06c;
}

.style-token.style-entity,
.style-token.style-url,
.language-css .style-token.style-string,
.style .style-token.style-string {
	color: #e6d06c;
}

.style-token.style-selector,
.style-token.style-inserted {
	color: #a6e22d;
}

.style-token.style-atrule,
.style-token.style-attr-value,
.style-token.style-keyword,
.style-token.style-important,
.style-token.style-deleted {
	color: #ef3b7d;
}

.style-token.style-regex,
.style-token.statement {
	color: #76d9e6;
}

.style-token.placeholder,
.style-token.style-variable {
	color: #fff;
}

.style-token.style-important,
.style-token.statement,
.style-token.style-bold {
	font-weight: style-bold;
}

.style-token.style-punctuation {
	color: #bebec5;
}

.style-token.style-entity {
	cursor: help;
}

.style-token.style-italic {
	font-style: style-italic;
}

code.language-markup {
	color: #f9f9f9;
}

code.language-markup .style-token.style-tag {
	color: #ef3b7d;
}

code.language-markup .style-token.style-attr-name {
	color: #a6e22d;
}

code.language-markup .style-token.style-attr-value {
	color: #e6d06c;
}

code.language-markup .style-token.style,
code.language-markup .style-token.script {
	color: #76d9e6;
}

code.language-markup .style-token.script .style-token.style-keyword {
	color: #76d9e6;
}

/* Line highlight plugin */
.line-highlight.line-highlight {
	padding: 0;
	background: rgba(255, 255, 255, 0.08);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
	height: 1em;
	line-height: 1em;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
