/**
 * Solarized dark atom theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Pranay Chauhan (@PranayChauhan2516)
 */

code[class*="language-"],
.code-block {
	color: #839496;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
.code-block {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
.code-block {
	background: #002b36;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.style-token.style-comment,
.style-token.style-prolog,
.style-token.style-doctype,
.style-token.style-cdata {
	color: #586e75;
}

.style-token.style-punctuation {
	color: #93a1a1;
}

.style-namespace {
	opacity: .7;
}

.style-token.style-property,
.style-token.style-keyword,
.style-token.style-tag {
	color: #268bd2;
}

.style-token.style-class-name {
	color: #FFFFB6;
	text-decoration: underline;
}

.style-token.style-boolean,
.style-token.style-constant {
	color: #b58900;
}

.style-token.style-symbol,
.style-token.style-deleted {
	color: #dc322f;
}

.style-token.style-number {
	color: #859900;
}

.style-token.style-selector,
.style-token.style-attr-name,
.style-token.style-string,
.style-token.style-char,
.style-token.style-builtin,
.style-token.style-inserted {
	color: #859900;
}

.style-token.style-variable {
	color: #268bd2;
}

.style-token.style-operator {
	color: #EDEDED;
}

.style-token.style-function {
	color: #268bd2;
}

.style-token.style-regex {
	color: #E9C062;
}

.style-token.style-important {
	color: #fd971f;
}

.style-token.style-entity {
	color: #FFFFB6;
	cursor: help;
}

.style-token.style-url {
	color: #96CBFE;
}

.language-css .style-token.style-string,
.style .style-token.style-string {
	color: #87C38A;
}

.style-token.style-important,
.style-token.style-bold {
	font-weight: style-bold;
}

.style-token.style-italic {
	font-style: style-italic;
}

.style-token.style-atrule,
.style-token.style-attr-value {
	color: #F9EE98;
}
